<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddphin.security.demo.mapper.AUserCredentialMapper">

	<select id="query" resultType="UserCredential">
		select `id`
			 , `userId`
			 , `credentialType`
			 , `credentialValue`
		from auth_user_credential
		where `userId` = #{userId}
		  and `credentialType` = #{credentialType}
	</select>

</mapper>
